@{
    ViewData["Title"] = "CustomLyrics";
}
@model LyricsGeneratorApp.Models.LyricsResponse;
<h2>Generated Lyrics</h2>
<p>
    @foreach (var a in Model.Lyrics)
    {
    <p>@a</p>
    }
</p>

<br />
<hr>
<br />

<h3>Generate one line again</h3>
<div>
    @using (Html.BeginForm("CustomLyrics", "Generator", FormMethod.Post))
    {
        <p>
            The lyrics you want to change:
        </p>
        <select class="col-sm-8" name="regenerateLyrics">
            @foreach (var item in Model.Lyrics)
            {
                <option value=@item selected>@item</option>
            }
        </select>
        <br />
        <br />
        <b>You can change the structure of the line here. If left empty or 0, the previous structure will be kept.</b>
        <br />
        <label>Number of syllables per line: </label>
        <input type="number" name="syllables" value="0" min="0" max="100">
        <br />
        <label>Word to rhyme with: </label>
        <input type="text" name="rhyme">
        <br />
        <label>The whole lyrics: </label>
        <select class="col-sm-8" value=@Model.LyricsAsString name="lyrics">
            <option value=@Model.LyricsAsString selected>@Model.LyricsAsString</option>
        </select>
        <br />
        <br />
        <input type="submit" value="Generate Line Again" />
    }
</div>

