@{
    ViewData["Title"] = "AABBLyrics";
}

@model LyricsGeneratorApp.Models.LyricsResponse;
<h2>Generated Sonet</h2>
<p>
    @foreach (var a in Model.Lyrics)
    {
    <p>@a</p>
    }
</p>


<h3>Generate one line again</h3>
<div>
    @using (Html.BeginForm("Sonet", "Generator", FormMethod.Post))
    {
        <p>
            The verse you want to change:
        </p>
        <select class="col-sm-8" name="regenerateLyrics">
            @foreach (var item in Model.Lyrics)
            {
                <option value=@item selected>@item</option>
            }
        </select>
        <br />
        <br />
        <label>The whole lyrics: </label>
        <select class="col-sm-8" value=@Model.LyricsAsString name="lyrics">
            <option value=@Model.LyricsAsString selected>@Model.LyricsAsString</option>
        </select>
        <br />
        <br />
        <input type="submit" value="Generate Line Again" />
    }
</div>
